name: CI

on:
  push:
    branches: [ main ]
    tags: ['*']
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Install Conan
        id: conan
        uses: turtlebrowser/get-conan@v1.0

      - name: Configure conan
        run: |
          conan profile detect

      - name: Build
        run: |
          mkdir build
          cd build
          cmake -DCMAKE_C_COMPILER=/usr/bin/gcc-10 -DCMAKE_CXX_COMPILER=/usr/bin/g++-10 -DCMAKE_BUILD_TYPE=Release ..
          cmake --build . --parallel $(nproc)

      - name: Unit test
        run: |
          cd build && ctest -V

      - name: Smoke test
        run: |
          $GITHUB_WORKSPACE/build/bin/asm-parser $GITHUB_WORKSPACE/resources/example_intel.asm > ./example_intel.json

      - uses: actions/upload-artifact@v2
        with:
          path: build/bin/asm-parser

      - name: Release
        uses: fnkr/github-action-ghr@v1
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GHR_COMPRESS: xz
          GHR_PATH: build/bin/
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
